.btn {
  margin-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorSpan {
  width: 360px;
  height: 30px;
  margin-left: 10px;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}
