.description {
  display: flex;
  align-items: center;
}

.description img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 20px;
}

.desc {
  width: 100%;
  margin-left: 15px;
  line-height: 0.8;
}

.flex {
  display: flex;
}

.socialLinks {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  width: 62%;
}

.currentStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 44px;
  line-height: 20px;
  margin-bottom: 15px;
}