.header {
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
  position: fixed;
  width: 1050px;
  z-index: 2;
}

.header ul {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 15px 15px 0px;
}

.header img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.login {
  color: #f8f9fa;
  transition: .3s;
  padding: 20px;
}

.logOut {
  color: #f8f9fa;
  transition: .3s;
  padding: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.acc {
  color: #f8f9fa;
  transition: .3s;
  padding: 20px;
}

a.active {
  color: #007bff;
  transition: .5s
}

.newMessage {
  width: 30px;
  height: 20px;
  background-color: black;
  color: white;
}

.positionHeaderBlock { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.new {
  background-color: green;
}