* {
  box-sizing: border-box;
}

body {
  background-image: url(https://million-wallpapers.ru/wallpapers/5/15/438687925010367/punktirnaya-tekstura.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

a {
  text-decoration: none;
}

.app-wrapper {
  width: 1070px;
  margin: 0 auto;
  padding: 0 10px;
}

li {
  text-decoration: none;
  list-style-type: none;
  color: #16181b;
}

main {
  display: flex;
}

.content {
  display: block;
  width: 100%;
  background-color: #6c757d;
  padding: 10px 15px;
}

.top {
  margin-top: 10px;
  padding-left: 210px;
  padding-top: 70px;
}

.m-right {
  margin-right: 10px;
}
